@import url('dark.css');


.logo {
  display: inline-block;
  width: 50px; /* Размер иконки */
  height: 50px; /* Размер иконки */
  background-image: url('logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Скрытие полосы прокрутки для экранов менее 600px */
@media (max-width: 600px) {
    .row.scroll,
    .tabs.min.scroll {
        overflow-x: hidden; /* Скрытие полосы прокрутки */
        touch-action: pan-x; /* Включение свайпа по горизонтали */ 
    }
}



/* Общее оформление */
body {
    font-family: 'Roboto', sans-serif;
}

/* Центрирование и выравнивание блоков */
.sitelist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование элементов */
}

.blocksite {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.333% - 20px); /* Ширина блока с учетом отступов */
    margin: 10px; /* Отступы между блоками */
}

.blocksite img {
    width: 90px; /* Ширина изображения */
    height: 90px; /* Высота изображения */
    object-fit: cover;
    margin-bottom: 5px; /* Отступ снизу */
}

.textsite {
    margin: 10px;
    text-align: center;
}

/* Стиль для подзаголовков */
.subtitle {
    margin-bottom: 15px;
}

/* Прокрутка для small экранов */
@media (max-width: 300px) {
    .sitelist {
        flex-direction: column;
        align-items: center; /* Центрирование элементов в колонке */
    }

    .blocksite {
        width: 100%; /* Блоки занимают всю ширину */
        margin: 10px 0; /* Отступы между блоками */
    }
}
