@import url('dark.css');


.logo {
  display: inline-block;
  width: 50px; /* Размер иконки */
  height: 50px; /* Размер иконки */
  background-image: url('logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Скрытие полосы прокрутки для экранов менее 600px */
@media (max-width: 600px) {
    .row.scroll,
    .tabs.min.scroll {
        overflow-x: hidden; /* Скрытие полосы прокрутки */
        touch-action: pan-x; /* Включение свайпа по горизонтали */ 
    }
}













/* Общее оформление */
body {
    font-family: 'Roboto', sans-serif;
}

/* Горизонтальное расположение блоков и выравнивание слева */
.sitelist {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Выравнивание слева */
}

.blocksite {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; /* Можно изменить в зависимости от требуемой ширины */
    margin-bottom: 15px;
}

.blocksite img {
    width: 100px; /* Ширина изображения */
    height: 100px; /* Высота изображения */
    object-fit: cover;
    margin-bottom: 5px; /* Отступ снизу */
}

.textsite {
    margin: 10px;
    text-align: center;
}

/* Стиль для подзаголовков */ 
.subtitle { margin-bottom: 15px; }